/* VARIABLES */
$font-brand: 'Carattere', cursive;
$font-text: 'PT Serif', serif;
$font-header: 'Sofia Sans', sans-serif;
$font-splash-welcome: 'Inria Serif', serif;
$color-main: #ffd526;
$color-background: #f9f9f9;
$color-text: #747874;


/* GLOBAL */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-text;
}

.section-title {
    color: black;
    font-size: 33px;
    text-align: center;
    font-family: $font-header;
    font-weight: bold;
    padding-top: 28px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section-subtitle {
    color: $color-text;
    font-family: $font-text;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.p {
    font-size: 16px;
    font-family:$font-text;
    color: $color-text;
    text-align: center;
} 

/* HOME */

.home {
    background-image: url(../images/img_splash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 560px;
    display: flex;
    font-family: $font-header;
}

.navigation {
    position: fixed;
    width: 100%;
}

.navigation .row {
     display: inline-block;
}

.navbar-brand a {
    color: $color-main;
    font-style: italic;
    font-size: 30px;
    font-family: $font-brand;
    text-decoration: none;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-bottom: 100px;    
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
}

.nav-menu a:hover {
    color: $color-main;
}

.splash { 
    margin: auto;
    text-align: center;
    padding-top: 56px;
    max-width: 70%;
}   

.page-title {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: $font-splash-welcome;
    padding-top: 20px;
    margin-bottom: 0;
}

.page-subtitle {
    color: white;
    font-size: 62px;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 40px;
}  

.btn {
    display: inline-block;
    min-width: 190px;
    min-height: 50px;
    padding-top: 10px;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-color: $color-main;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $color-main;
} 

.btn:hover {
    color: $color-main;
    border-color: $color-main;
    background-color: white;
}

/* SERVICE */

.box-services .icon {
    color: $color-main;
    font-size: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 25px auto;
    border: $color-main solid 2px;
    border-radius: 50%;
}

.box-services h4 {
    color: black;
    font-family: $font-header;
    font-size: 16px;
    text-align: center;   
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}    

.box-services p {
    text-align: center;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
} 

/* PORTFOLIO */

.portfolio {
    background: $color-background;
}   

.card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card-image {
    overflow: hidden;
    max-height: 300px;
    max-width: 300px;
}

.card-image img {
    object-fit: cover;
    max-width: 100%;
}    

.card-caption {
    background-color: white;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.card-caption h4 {
    color: black;
    font-family: $font-header;
    font-size: 18px;
    text-align: center;   
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-caption p {
    color: $color-text;
    font-family: $font-text;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* FOOTER */

.footer-menu {
    list-style: none;
    display: flex;
    margin: 10px;
    color: black;
}

.footer-menu li i {
    margin: 15px;
    color: black;
    font-size: 30px;
}

.copyrights {
    font-family: $font-header;
    color: black;
    font-size: 13px;
    text-align: left;
    padding-left: 0;
}  

/* MEDIA */

@media (max-width: 768px) {
    .navbar-brand a {
        padding-left: 50%;
    }

    .nav-menu {
        justify-content: center;
        margin-left: auto;
    }

    .btn {
        margin-bottom: 10px;
    }
}
