$font-brand: 'Carattere', cursive;
$font-text: 'PT Serif', serif;
$font-header: 'Sofia Sans', sans-serif;
$font-splash-welcome: 'Inria Serif', serif;
$color-main: #ffde2f;
$color-background: #e4e4de;
$color-text: #3f4343;